  @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

  *{
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
  }

  body {
   
    display: grid;
    max-width: 1300px;
    margin: 0 auto;
    /* background-image: url("assets/img/pacman.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
   
  }

  .stop-page {
    display: grid;
    grid-template-rows: repeat(2, auto);
    align-content: space-around;
    justify-content: center;
    justify-items: center;
    min-height: 70vh;
  }

  .input-group {

    flex-direction: column-reverse;
  }

 .div-price {

  font-size: 11px;
 }
  
 .header {
  display: grid;
  grid-template-columns: 25% auto 25%;
  background-color: red;
 }

 .footer {

  display: grid;
  grid-template-columns: 75% 25%;
  background-color: red;
 }

 .polla {

  background-color: red;
 }

 .polla1 {
  background-color: red;
 }

 