  @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

  *{
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
  }

  body {
   
    display: grid;
    max-width: 1300px;
    margin: 0 auto;
    background-color: rgb(43, 40, 40);
   
  }

  .stop-page {
    display: grid;
    grid-template-rows: repeat(2, auto);
    align-content: space-around;
    justify-content: center;
    justify-items: center;
    min-height: 70vh;
  }
  
 .header {
  display: grid;
  grid-template-columns: 25% auto 25%;
  background-color: rgb(70, 68, 68);
  
 } 

/*header*/

.footer {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
   border-radius: 10px; 
   display: grid;
   grid-template-columns: 75% 25%;
   background-color: rgb(70, 68, 68);
    
  }

  .home {

  background-color: rgb(70, 68, 68);
  
 } 

 .home-text {
  color: black; 
  transition: color 0.3s; 
}

.home-text:hover {
  color: white; 
}

  .cart {
  background-color:rgb(70, 68, 68);
 }
 
 .card-game {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
  border-radius: 10px; 
  background-color: rgb(70, 68, 68);

 } 

 .card-body {

  background-color: rgb(70, 68, 68);
 }
  
 .your-cart {
  background-color: pink;
 }

 .login-text {
  color: white; 
  transition: color 0.3s;
  background-color: black; 
  border-radius: 10px;
 
}

.login-text:hover {
  background-color: white;
}

/*footer*/
.p-retro  {
  color: black;
}

/*cards*/

.button-add {
  color: white; 
  transition: color 0.3s;
  background-color: black; 
  border-radius: 10px;
}

.button-add:hover {
  background-color: white;
  color: black;
}

.div-price {
  color: black;
  font-size: 11px;
}