/*estilos header*/
.cart-image {
  
    color: black;
    font-size: 30px;
    
}

.cart-image:hover {

    color: white;
}

.cart-number{

    font-size: 12px;
}

.header {
    display: grid;
    grid-template-columns: 25% auto 25%;
    background-color: rgb(70, 68, 68);

  }

  .home {

    background-color: rgb(70, 68, 68);

  }

  .home-text {
    color: black;
    transition: color 0.3s;
  }

  .home-text:hover {
    color: white;
  }

  .cart {
    background-color: rgb(70, 68, 68);
    
  }

  .card-game {
    box-shadow: 5px 2px 4px black;
    border-radius: 10px;
    background-color: rgb(70, 68, 68);

  }

  .card-body {

    background-color: rgb(70, 68, 68);
  }

  .your-cart {
    background-color: pink;
  }

  .login-text {
    color: white;
    transition: color 0.3s;
    background-color: black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(139, 134, 134);

  }

  .login-text:hover {
    background-color: white;
  }

  .button-logout {
    color: white;
    transition: color 0.3s;
    background-color: black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(139, 134, 134);/* Transición suave de color durante 0.3 segundos */
  }
  
  .button-logout:hover {
    background-color: white; /* Fondo blanco al hacer hover */
    color: black; /* Letras negras al hacer hover */
  }
  